# ============================================================
# DEPENDENCIES
# ============================================================

node_modules

# ============================================================
# BUILD
# ============================================================

dist

# ============================================================
# ENV FILES
# ============================================================

.env
.env.local
.env.production
.env.preview

# ============================================================
# LOGS
# ============================================================

*.log

# ============================================================
# OS FILES
# ============================================================

.DS_Store
Thumbs.db
